body{
    /** width: 900px;
     margin: 0px auto;**/
     background-color: rgb(224, 224, 222);
 }
img{
    border-radius:  50%;
    }
h1{
color: rgb(20, 18, 18)
text-shadow  1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
text-align: center;
}
div.foto{
    margin:10px 20px;
    box-shadow: 0 4px 8px 0 lightblue,0 6px  20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;
}
div.foto img{
    width: 100%;
    height: auto;
}
div.foto:hover{
    border:1px solid lightcoral;
    transform: rotate(-3deg);
}
div.foto{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

